extends layout

block content
  .p-3.rounded.bg-light
    h2= title
    p Seleccione para editar una promocion o haga click en 'nuevo' para crear una nueva.
  script.
    console.log(!{JSON.stringify(data).replace(/<\//g, "<\\/")})
  br
  .table-responsive
    table.table.table-striped.table-hover
      thead.thead-dark.rounded
        tr
          th Nombre
          th.d-none.d-xs-none.d-sm-none.d-md-block.d-lg-block.d-xl-block Descripcion
          th
          th
      tbody
      each promo in data
        tr
            td #{promo.nombre}
            td.d-none.d-xs-none.d-sm-none.d-md-block.d-lg-block.d-xl-block #{promo.descripcion}
            td.text-right
              a.btn.btn-info.btn-sm.text-right(href='/edit/' + promo.id,role='button')
                span.glyphicon.glyphicon-search editar
            td.text-right
              a.btn.btn-danger.btn-sm.text-right(href='/delete/' + promo.id,role='button')
                span.glyphicon.glyphicon-search eliminar
  .p-3.mb-2.rounded.bg-dark.text-white.text-right
    a.btn.btn-success(href='/new/',role='button')
      span.glyphicon.glyphicon-search Nuevo