extends layout

block content
	h2 Login
	form(method='POST', action='/login')
		.form-group
			label Usuario:
			input.form-control(name='username',type='text')
		.form-group
			label Password:
			input.form-control(name='password',type='password')
		input.btn.btn-primary(type='submit',value='Ingresar')