extends layout

block content
  h2 #{title} 
  p Al crear una nueva promocion, quedara disponible en el bot inmediatamente.
  form(method='POST', action='/new/')
    .form-group
      label Nombre:
      input.form-control(name='nombre', type='text')
    .form-group
      label Descripcion:
      textarea.form-control(name='descripcion')
    .form-group
      label Link imagen:
      input.form-control(name='linkimagen', type='text')
      small Asegúrese de que el link apunte directamente a una imagen
    .form-group
      label Link url:
      input.form-control(name='linkurl', type='text')
    br
    .p-3.mb-2.rounded.bg-dark.text-white.text-right
        input.btn.btn-primary(type='submit',value='Guardar')